<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Editar Usuário</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>

<header>
	<div th:include="fragments/nav_user :: head"></div>
</header>

<body>
	<div class="panel panel-default container" style="width: 30%">
		<div class="panel-heading">
				<h1 class="panel-title">Editar Usuário</h1>
		</div>
		
		<form id="stackedForm" method="POST" th:object="${user}" th:action="@{/user/editUser}" style="margin: 20px 0">
			<div class="form-group">
			    <label for="stackedFirstName">UserId:</label>
			    <input type="text" class="form-control" value="${user.userId}" placeholder="Id" th:field="*{userId}" readonly="readonly"/> 
		 	</div>
		 	<div class="form-group">
			    <label for="stackedFirstName">Nome:</label>
				<input type="text" class="form-control" value="${user.nome}" placeholder="Nome" th:field="*{nome}" /> 
		 	</div>
		 	<div class="form-group">
			    <label for="stackedFirstName">Cidade:</label>
				<input type="text" class="form-control" value="${user.cidade}" placeholder="Cidade" th:field="*{cidade}" /> 
		 	</div>
		 	<div class="form-group">
			    <label for="stackedFirstName">Endereço:</label>
				<input type="text" class="form-control" value="${user.endereco}" placeholder="Endereco" th:field="*{endereco}" />
		 	</div>
			<div class="form-group" >
				<button type="submit" class="btn btn-primary">Alterar</button>
			</div>
		</form>
	</div>

</body>