<!DOCTYPE html>
<html lang="en">
<head>
<title>Cadastro de Usuários</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<style>
table, th, td {
    border: 1px solid black;
    padding: 1px;
}
</style>

</head>
<body>
		<div>
			<h2>Lista de usuários</h2>
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Nome</th>
						<th>Cidade</th>
						<th>Endereço</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
						<td th:text="${user.userId}">Text ...</td>
						<td th:text="${user.nome}">Text ...</td>
						<td th:text="${user.cidade}">Text ...</td>
						<td th:text="${user.endereco}">Text...</td>
						<td>
						 	<div class="btn-group pull-right">
								<a class="btn btn-sm btn-primary" th:href="@{/user/update/{id}(id=${user.userId})}" >Editar</a>
								<a class="delete btn btn-sm btn-danger" th:href="@{/user/delete/{id}(id=${user.userId})}">Excluir</a>
							</div>
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</form>
	<div>
		<h2>Adicionar usuário</h2>
		<form action="/user/save" th:action="@{/user/save}" th:object="${user}" method="post">
			<label>Nome<input type="text" name="nome" id="nome"></input></label>
			<label>Cidade<input type="text" name="cidade" id="cidade"></input></label>
			<label>Endereço<input type="text" name="endereco" id="endereco"></input></label>
			<input type="submit" value="Submit"></input>
		</form>
	</div>
	<div>
	</div>
</body>
</html>